@font-face {
	font-family: "regular";
	font-style: normal;
	src: url(../fonts/NotoSansKR-Regular.ttf) format('truetype');
}

@font-face {
	font-family: "black";
	font-style: normal;
	src: url(../fonts/NotoSansKR-Black.ttf) format('truetype');
}


body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "regular";
}

button, input, select, textarea{
    font-family: "regular";
}